<!DOCTYPE html>
<html>
  <head>
    <title>Do Something</title>
    <link rel="stylesheet" href="/app/assets/stylesheets/application.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/app/assets/javascripts/DB/model.js"></script>
    <script src="/app/assets/javascripts/DB/view.js"></script>
    <script src="/app/assets/javascripts/DB/presenter.js"></script>
    <script src="/app/assets/javascripts/application.js"></script>
  </head>
  <body>
    <h1>Do Something</h1>
    <main id="lists">
      <div id="listTemplate">
        <div class="list {{{status}}}">
          <div><p>{{{id}}}</p></div>
          <div><input type="text" value="{{{title}}}"/></div>
          <ul>
            <li id="taskTemplate" class="task">
              <textarea type="text"></textarea>
            </li>
          </ul>
          <div><button type="button" class="edit" onclick="List.all({{{id}}}).model.edit()">Edit</button></div>
          <div><button type="button" class="delete">Delete</button></div>
        </div>
      </div>
    </main>
  </body>
</html>
