<!DOCTYPE html>
<html>
  <head>
    <title>Do Something</title>
    <link rel="stylesheet" href="/app/assets/stylesheets/application.css" />
    <script src="http://localhost/lib/jquery.js"></script>
    <script src="/app/assets/javascripts/application.js"></script>
  </head>
  <body>
    <h1>Do Something</h1>
    <main id="lists">
      <div id="listTemplate">
        <div class="list new">
          <div><input type="text" value="{{{title}}}"/></div>
          <ul>
            <li id="taskTemplate" class="task">
              <textarea type="text"></textarea>
            </li>
          </ul>
          <div><button type="button" class="save">Save</button></div>
          <div><button type="button" class="delete">Delete</button></div>
        </div>
      </div>
    </main>
  </body>
</html>
